In [25]:
import quandl
import pandas as pd
from datetime import date

In [8]:
invst = pd.read_excel('Portfolio.xlsx')

In [9]:
invst.head()

,SNo,Name,Folio No,Companies,Ticker,Stocks,Purchase Date,Purchase Price(USD),Investment
0,1,Michael Scott,11111,Adobe Inc.,ADBE,30,2018-09-20,266.47,7994.10
1,2,Michael Scott,11111,"Cisco Systems, Inc.",CSCO,25,2018-09-04,47.84,1196.00
2,3,Michael Scott,11111,"Facebook, Inc.",FB,10,2018-11-30,138.26,1382.60
3,4,Michael Scott,11111,Intel Corporation,INTC,50,2019-05-09,47.90,2395.00
4,5,Michael Scott,11111,"Netflix, Inc.",NFLX,15,2018-08-05,311.03,4665.45

In [10]:
quandl.ApiConfig.api_key = 'o7uZ8aYHTAe-ZXazTJ_t'

In [50]:
parameters = {'given-name': 'Dwight', 'number': '22222', 'currentmarketvalue': 'yes', 'date' : (today.strftime("%Y-%m-%d"))}

In [51]:
fname = parameters['given-name']
currentvalue = parameters['currentmarketvalue']
folio = parameters['number']
date = parameters['date']

In [17]:
invst['Name'] = invst['Name'].astype('category')

In [19]:
invst = invst[(invst['Name'].str.contains(fname, case=False)) & (invst['Folio No'] == int(folio))]

In [21]:
tckr = invst['Ticker']

In [32]:
tckr.tolist()

['NFLX', 'FOX', 'AMZN', 'MAR']

In [26]:
today = date.today()
print(today)

2019-08-26

In [69]:
import arrow 
end_date = arrow.now().format("YYYY-MM-DD")
start_date = arrow.now().format("YYYY-MM-DD")

In [72]:
source = "WIKI/" + 'ADBE'

In [78]:
data = quandl.get(source, start_date='2019-08-25', end_date='2019-08-26')

In [79]:
data

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Ex-Dividend, Split Ratio, Adj. Open, Adj. High, Adj. Low, Adj. Close, Adj. Volume]
Index: []

In [88]:
quandl.get_table('WIKI/', ticker = tckr.tolist(), qopts = { 'columns': ['ticker', 'date', 'adj_open'] },
                  date =  { 'gte': '2018-03-27', 'lte': '2018-03-27' }, paginate=True)

QuandlError: (Status 404) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@quandl.com.

In [97]:
data = quandl.get_table('WIKI/PRICES', ticker = ['ADBE'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2019-01-25', 'lte': '2019-01-25' }, 
                        paginate=True)

In [98]:
print(data)

     ticker       date   adj_close
None
0      ADBE 2018-03-27  213.800000
1      ADBE 2018-03-26  228.910000
2      ADBE 2018-03-23  215.020000
3      ADBE 2018-03-22  220.520000
4      ADBE 2018-03-21  226.850000
5      ADBE 2018-03-20  229.750000
6      ADBE 2018-03-19  222.180000
7      ADBE 2018-03-16  225.550000
8      ADBE 2018-03-15  218.870000
9      ADBE 2018-03-14  218.440000
10     ADBE 2018-03-13  219.760000
11     ADBE 2018-03-12  220.940000
12     ADBE 2018-03-09  221.110000
13     ADBE 2018-03-08  216.400000
14     ADBE 2018-03-07  216.860000
15     ADBE 2018-03-06  212.010000
16     ADBE 2018-03-05  211.160000
17     ADBE 2018-03-02  209.790000
18     ADBE 2018-03-01  206.030000
19     ADBE 2018-02-28  209.130000
20     ADBE 2018-02-27  208.820000
21     ADBE 2018-02-26  212.150000
22     ADBE 2018-02-23  209.740000
23     ADBE 2018-02-22  202.610000
24     ADBE 2018-02-21  202.090000
25     ADBE 2018-02-20  202.980000
26     ADBE 2018-02-16  201.560000
27     ADBE 2018-02-15  202.970000
28     ADBE 2018-02-14  197.130000
29     ADBE 2018-02-13  193.480000
...     ...        ...         ...
7938   ADBE 1986-09-25    0.248400
7939   ADBE 1986-09-24    0.258336
7940   ADBE 1986-09-23    0.248400
7941   ADBE 1986-09-22    0.258336
7942   ADBE 1986-09-19    0.268272
7943   ADBE 1986-09-18    0.268272
7944   ADBE 1986-09-17    0.268272
7945   ADBE 1986-09-16    0.248400
7946   ADBE 1986-09-15    0.238464
7947   ADBE 1986-09-12    0.218592
7948   ADBE 1986-09-11    0.218592
7949   ADBE 1986-09-10    0.248400
7950   ADBE 1986-09-09    0.228528
7951   ADBE 1986-09-08    0.228528
7952   ADBE 1986-09-05    0.228528
7953   ADBE 1986-09-04    0.228528
7954   ADBE 1986-09-03    0.208656
7955   ADBE 1986-09-02    0.208656
7956   ADBE 1986-08-29    0.188784
7957   ADBE 1986-08-28    0.188784
7958   ADBE 1986-08-27    0.198720
7959   ADBE 1986-08-26    0.198720
7960   ADBE 1986-08-25    0.198720
7961   ADBE 1986-08-22    0.208656
7962   ADBE 1986-08-21    0.208656
7963   ADBE 1986-08-20    0.198720
7964   ADBE 1986-08-19    0.198720
7965   ADBE 1986-08-18    0.198720
7966   ADBE 1986-08-15    0.208656
7967   ADBE 1986-08-14    0.208656

[7968 rows x 3 columns]